.mail-list {
  flex: 4;
  height: 100%;
}

.mail-head {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.mail-head-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mail-head-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mail-head-end button {
  padding: 0.6rem 1rem;
  font-size: 15px;

  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
}

.mail-head-end button:hover {
  background-color: #dadada;
}

.mailing {
  width: 100%;
}

.mail-tabs {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.mail-primary,
.mail-social,
.mail-promotion {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;

  font-size: 21px;
}

.mail-tabs i {
  margin: 0 1rem;
  font-size: 25px;
}

.mail-email {
  width: 100%;
  height: 40px;
  font-size: 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.email-info {
  flex: 1;
  margin-left: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.email-info i {
  margin: 0 1rem;
}

.email-info p {
  font-size: 19px;
}

.email-content {
  flex: 3;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.email-time {
  flex: 0.5;

  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
