.mail-list {
  flex: 4;
  height: 100%;
  margin-left: 10px;
}

.mail-head {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: thin solid #cccccc;
}

.mail-head-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mail-head-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mail-head-end button {
  padding: 0.6rem 1rem;
  font-size: 15px;

  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
}

.mail-head-end button:hover {
  background-color: #dadada;
}

.mailing {
  width: 100%;
  height: calc(100vh - 120px);
  overflow-y: scroll;
}

.mail-tabs {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  border-bottom: thin solid #cccccc;
}

.mail-primary,
.mail-social,
.mail-promotion {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;

  font-size: 21px;
}

.mail-tabs i {
  margin: 0 1rem;
  font-size: 25px;
}

.mail-email {
  height: 40px;
  font-size: 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: thin solid #cccccc;
}

.email-info {
  flex: 1.3;
  margin-left: 1rem;
  color: rgb(37, 33, 33);
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.email-info i {
  margin: 0 1rem;
  font-weight: 500;
  color: rgb(110, 108, 108);
}

.email-info p {
  font-size: 19px;
}

.email-content {
  flex: 2;
  color: rgb(77, 76, 76);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.email-time {
  flex: 0.5;

  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

@media (max-width: 1040px) {
  .mail-email {
    flex-direction: column;
    align-items: flex-start;
    height: 70px;
  }

  .email-content,
  .email-time {
    margin-left: 2rem;
  }

  .email-info i {
    margin: 0 1rem;
  }
}
